[submodule "public"]
	path = public
	url = git@github.com:nafaaal/nafaaal.github.io.git
  branch = main
  update = merge
[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
  url = git@github.com:nafaaal/hugo-theme-hello-friend.git
  update = merge
