body.dark-theme {
    /* dark theme colors */
    --background: #18191A;
    --background-secondary: #18191A;
    --header: #242526;
    --color: #E4E6EB;
    --color-secondary: #B0B3B8;
    --border-color: #4a4b50;
  }

.m-t-5 {
  margin-top: 5px!important
}


.footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: var(--light-color-secondary)
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%
}

.footer__inner--small {
  justify-content: flex-end
}

.footer__inner--small .copyright {
  font-size: .75rem!important
}

.footer__inner--small a {
  text-decoration: none!important
}

@media (max-width:900px) {
  .footer__inner {
    flex-direction: column
  }
}

.footer a {
  color: inherit
}

.footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: var(--light-color-secondary)
}

.footer .copyright--user {
  margin: auto;
  text-align: center
}

.footer .copyright>:not(:last-child) {
  border-right: 1px solid;
  padding-right: 10px;
  margin-right: 10px
}

@media (max-width:900px) {
  .footer .copyright>:not(:last-child) {
    border: none;
    padding: 0;
    margin: 0
  }
}

@media (max-width:900px) {
  .footer .copyright {
    flex-direction: column;
    margin-top: 10px
  }
}
