body.dark-theme {
    /* dark theme colors */
    --background: #18191A;
    --background-secondary: #26282a;
    --header: #242526;
    --color: #E4E6EB;
    --color-secondary: #B0B3B8;
    --border-color: #4a4b50;
  }


.footer__inner--small {
  justify-content: flex-end
}

.footer__inner--small .copyright {
  font-size: .75rem!important
}

.footer__inner--small a {
  text-decoration: none!important
}


.footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: var(--light-color-secondary)
}

.footer .copyright--user {
  margin: auto;
  text-align: center
}

.footer .copyright>:not(:last-child) {
  border-right: 1px solid;
  padding-right: 10px;
  margin-right: 10px
}

@media (max-width:900px) {
  .footer .copyright>:not(:last-child) {
    border: none;
    padding: 5px;
    margin: 5px
  }

}

@media (max-width:900px) {
  .footer .copyright {
    flex-direction: column;
    display: inline;
    margin-top: 10px
  }
}

.homepage {
    max-width: 1000px; /* Adjust the maximum width as per your design */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add padding on both sides of the container */
    word-wrap: break-word;
    flex-direction: column;
    /* position: absolute; */
}

.homepage p {
    text-align: justify; /* Justify the text */
}


@media (max-width:900px) {
  .homepage {
    padding-left: 75px; /* Reduce padding for smaller screens */
    padding-right: 75px; /* Reduce padding for smaller screens */
  }
}

.homepage-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; /* Center vertically on the entire viewport height */

  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  margin-top: 40px;
  margin-bottom: 20px;

  /*for demo*/
  /* display:inline-block;
  vertical-align:middle; */

}

.homepage-image img{
  width:100%;
}
