{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  <!-- {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }} -->
    
    <div class="homepage-image">
      <img src="img/default.jpeg" alt="Profile" style="max-width:150px" />
    </div>
    <h1>Ismail Nafaal Ibrahim</h1>

      <div>
        <a href="https://x.com/nafaaal" target="_blank" rel="noopener" title="Twitter/X">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 25" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">" version="1.1"> <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg></a> 

        <!-- <a href="mailto:example@gmail.com" target="_blank" rel="noopener" title="Email">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a>   -->

        <!-- <a href="https://www.linkedin.com/in/nafaal" target="_blank" rel="noopener" title="Linkedin">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a>   -->

        <!-- <a href="https://github.com/nafaaal" target="_blank" rel="noopener" title="Github">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>   -->

<!-- 
        <a href="./cv" target="_blank" rel="noopener" title="CV">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 24 10" fill="none" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"> <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/> <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/> </svg></a>   -->
      </div>


    <div class="homepage">
      <p>
        Heya!
        I am a recent graduate from the University of Bristol with experience as a software developer specializing in backend development. More recently, I have redirected my interest from software development to the fields of networking and cybersecurity.     
        <br><br>
        This website is where I document my journey in the field of cybersecurity. It serves as a platform where I can share write-ups for capture the flag challenges and blog posts discussing subjects I learn along the way.
      </p>
    </div>
      



  <div class="posts">
    {{ range $paginator.Pages }}
    <div class="post on-list">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <span class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </span>

          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}



        {{ with .Params.Author }}
          <span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        {{ partial "postcover.html" . }}
      {{ end }}

      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary }}
          {{ end }}
        {{ end }}
      </div>
      {{ if not .Params.hideReadMore }}
        <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
      {{ end }}
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}